<?xml version="1.0" encoding="UTF-8"?>
<configuration status="debug" strict="true" name="XMLConfigTest"
               packages="org.apache.logging.log4j.test">
	<properties>
		<property name="filename">gallery-struts2.log</property>
		<property name="hibernate">hibernate.log</property>
	</properties>

	<appenders>
		<appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${filename}</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<!-- rollover daily -->
				<fileNamePattern>${destination}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
				<!-- Keep logs for 7 days -->
				<maxHistory>7</maxHistory>

				<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
					<!-- or whenever the file size reaches 100MB -->
					<maxFileSize>100MB</maxFileSize>
				</timeBasedFileNamingAndTriggeringPolicy>
			</rollingPolicy>
			<encoder>
				<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
			</encoder>
		</appender>
		<appender type="File" name="File" fileName="${filename}">
			<layout type="PatternLayout">
				<pattern>%d %p %C{1.} [%t] %m%n</pattern>
			</layout>
		</appender>
		<appender type="File" name="Hibernate" fileName="${hibernate}">
			<layout type="PatternLayout">
				<pattern>%d %p %C{1.} [%t] %m%n</pattern>
			</layout>
		</appender>
		<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
			</encoder>
		</appender>
	</appenders>

	<loggers>
		<root level="trace">
			<appender-ref ref="Console"/>
		</root>
		<logger name="net.feminaexlux" level="ALL" additivity="false">
			<appender-ref ref="File"/>
		</logger>
		<logger name="com.opensymphony">
			<level value="DEBUG"/>
			<appender-ref ref="Console"/>
		</logger>
		<logger name="org.apache.struts2">
			<level value="DEBUG"/>
			<appender-ref ref="Console"/>
		</logger>
		<logger name="org.hibernate">
			<level value="ALL"/>
			<appender-ref ref="Hibernate"/>
		</logger>
	</loggers>

</configuration>